[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
django-tenants = "*"
psycopg2-binary = "*"
django-rest-framework = "*"

[dev-packages]

[requires]
python_version = "3.11"
